.task {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  background: var(--gray-400);
  border-radius: 8px;

  width: 100%;
  padding: 1rem;
}

.task + .task {
  margin-top: 0.75rem;
}

.task button {
  background: transparent;
  border: 0;
  border-radius: 8px;
  line-height: 0;

  color: var(--gray-300);
  cursor: pointer;
}

.task button:hover {
  color: var(--ganger-500);
}

.task input {
  width: 1.09rem;
  height: 1.09rem;
  border-radius: 50%;
  border: 2px solid var(--blue-300);
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.task input:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
  accent-color: var(--purple-700);
}

.task span {
  width: 100%;
  overflow-wrap: anywhere;
  padding-right: 1rem;
  margin-left: 0.75rem;
  font-size: 0.875rem;
}

.task .checked {
  color: var(--gray-300);
  text-decoration: line-through;
}